
.minecraft/logs/*
.minecraft/saves
.minecraft/versions
.minecraft/config
.minecraft/CustomSkinLoader
.minecraft/journeymap

.minecraft/usercache.json
.minecraft/usernamecache.json

.minecraft/options.txt
.minecraft/optionsof.txt